.top-section{
    height: 30vh;
    background-color: darkorange;
}

.tracking-number-form{
    background: transparent;
}

.tracking-form-container{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.tracking-heading{
    text-align: center;
}

.tracking-input{
    width: 480px;
    margin-right: 15px;
}

.input-group {
    display: flex;
    width: 60%;
    align-items: center;
  }
  
  .input {
    min-height: 50px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
  .courier-details{
    padding: 0 20px;
  }