.top-section {
  height: 35vh;
  background: url("https://img.freepik.com/premium-photo/delivery-tracking-system-ecommerce-modish-online-business_31965-79412.jpg?w=1380");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.tracking-number-form {
  background: transparent;
}

.tracking-heading {
  text-align: center;
}

.courier-details {
  padding: 0 20px;
}

.track-delivery {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  padding: 100px 60px;
  padding-bottom: 120px;
  margin: 0;
}

.tracking-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.tracking-form input {
  background: #b5c0d070;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
  border-left: #40a2d8 5px solid;
  border-radius: 6px;
}

.tracking-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.track-button {
  background-color: #387adf;
  margin-top: 10px;
  align-self: flex-end;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.admin-button {
  margin: 10px 10px;
  align-self: flex-end;
  background: #387adf;
  border: none;
  color: white;
  width: 100px;
  font-size: 17px;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

h1 {
  margin: 0;
}

.courier-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

@media screen and (max-width: 767px) {
  .tracking-form {
    width: 80%;
  }
}
table {
  width: 80vw;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.courier-detail-container{
  display: flex;
}

.courier-detail-container > *{
  flex-grow: 1;
}

.home-buttons{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}