.courier-form {
  display: flex;
  flex-direction: column;
}

.courier-form-container {
  width: 100%;
  padding: 4px 20px;
}

.courier-container {
  display: flex;
  justify-content: center;
}

.courier-form input,
.courier-form select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  background: none;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
  color: #000;
}

.courier-form button,.added-success button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.courier-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.courier-form select {
  width: 100%;
}

/* Style the select dropdown arrow */
.courier-form select::-ms-expand {
  display: none;
}
.courier-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  background-size: 16px auto;
}

.read-only-input {
  background-color: #f9f9f9 !important;
  color: #333 !important;
  cursor: not-allowed;
}

.top-heading-container {
  padding: 4px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon-container {
  font-size: 18px;
  width: 40px;
  height: 30px;
  padding: 4px 8px;
  border-radius: 3px;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.form-single-row {
  display: flex;
  gap: 20px;
}

.form-single-row > * {
  width: 50%;
}

.added-successfully {
  width: 50%;
}

.added-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


h3{
  margin: 7px;
}

.tracking-number{
  color: gray;
  margin: 4px;
  font-size: 28px;
}